#!define PINGER "pinger@172.255.103.121"
#!define DBURL "postgres://postgres:postgres@localhost:5432/kamailio"
#!define MAXEXPIRES 300
#!define SQLOPSDB "ca=>postgres://postgres:postgres@localhost:5432/kamailio"
#!define REGCONTADDR "172.255.103.121:5060"
#!define GATEWAYS_SET 1
#!define FLAG_WITHINDLG 3
#!define FLAG_TO_CLIENT 2
#!define HOSTNAME "sip:proxy@10.75.0.213"
#!define FLAG_INTERNALLY_SOURCED 1
#!define FLT_DIALOG 4
#!define APIFONICA "193.42.48.21"
#!define MTN_IP "196.201.48.139"
#!define INCOMING 4
#!define FLT_ACC 1
#!define FLT_ACCMISSED 2
#!define FLT_ACCFAILED 3
#!define FLAG_TO_CARRIERS 2
#!define SCANNERS_BLACKLIST "VoipNow PBX|sipvicious|sipcli|sip-scan|sundayddr|iWar|CSipSimple|SIVuS|Gulp|sipv|smap|friendly-request|VaxIPUserAgent|VaxSIPUserAgent|siparmyknife|Test Agent"
